@import url(https://fonts.google.com/specimen/Red+Hat+Display);

*{
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    background-color: hsl(225, 100%, 94%);
    font-size: 16px;
    font-family: "Red Hat Display";
}

.container{
    display: flex;
    position: relative;
    justify-content: center;
}

.Background{
    position: absolute;
}

.Image{
    box-shadow: rgba(0,0,0,0.12) 0px 1px 3px, rgba(0,0,0,0.24) 0px 1px 2px;  
}


.container2{
    position: absolute;
    top: 34px;
}

.LowerContentBox{
    position: absolute;
    top: 96%;
    width: 450px;
    height: 161%;
    background: hsl(225, 100%, 98%);
    border-bottom-left-radius: 13px;
    border-bottom-right-radius: 13px;
    box-shadow: rgba(0,0,0,0.12) 0px 1px 3px, rgba(0,0,0,0.24) 0px 1px 2px;
}

h1{
    text-align: center;
    color: hsl(223, 47%, 23%);
}

p{
    text-align: center;
    margin: 0%;
    color: hsl(224, 23%, 55%);
}

.Annual{
    position: relative;
    top: 7%;
    left: 16%;
    height: 80px;
    width: 70%;
    border-radius: 10px;
    background-color: hsl(224, 23%, 95%);
}

.icon{
    position: absolute;
    left: 7%;
    top: 20%;
}

.Annual-plan{
    position: absolute;
    left: 24%;
    top: 20%;
    color: hsl(223, 47%, 23%);
}

.text1{
    position: absolute;
    left: 24%;
    top: 43%;
    color: hsl(224, 23%, 55%);
}
.change{
    position: absolute;
    right: 7%;
    top: 35%;
    cursor: pointer;
    color: hsl(245, 75%, 52%);
    text-decoration: underline;
}

.change:hover{
    text-decoration: none;
    color: hsl(224, 23%, 55%);
}

.Payment button{
    position: absolute;
    left: 16%;
    bottom: 17%;
    height: 45px;
    width: 70%;
    border-radius: 10px;
    cursor: pointer;
    background-color: hsl(245, 75%, 52%);
    color: hsl(225, 100%, 98%);
    border: none;
    box-shadow: rgba(0,0,0,0.45) 0px 25px 20px -20px;
}

.Payment button:hover{
    background-color: hsl(224, 23%, 55%);
}

.cancel{
    position: absolute;
    bottom: 0%;
    height: 45px;
    width: 70%;
    left: 40%;
    cursor: pointer;
    color: hsl(224, 23%, 55%);
}

.cancel:hover{
    color:hsl(223, 47%, 23%);
}
    